//variables
$primary-background-color: #000;
$primary-color: #ff0000b4;
$secondary-color: #fff;
$secondary-background-color: #9b9b9b;
$bold-font-weight: 900;
$primary-letter-spacing: 1px;
$primary-background-color: #000;
$primary-color: #ff0000b4;
$secondary-color: #fff;
$primary-button-color: #91fc05c0;