<!DOCTYPE html>
<!-- Created by Dilli Hang Rai on June 24 2021 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anime home</title>
    <link rel="stylesheet" href="/css/anime-home.css">
   </head>
    <body>
    
    <!----------------------- Anime Home Nest Starts----------------------------------------- -->
    <div class="anime-home-wrapper">

        <!-- Left Division -->
        <div class="anime-home-left">
            <section class="inner-anime-top-left">
               <!--Bg Poster Kimetsu no yaiba-->
            </section>
            <br>
            <section class="inner-anime-down-left">
                <section class="inner-anime-down-left-poster">
                    <!-- Bg gifs ONe punch Man -->
                </section>
                <section class="inner-anime-down-left-clip">
                    <!-- Clipath -->
                </section>
            </section>
        </div>

        <div class="anime-home-mid">
               <section class="inner-anime-top-mid">
            <section class="inner-anime-top-mid-poster">
                <!-- Bg gifs Eren & Mikasa -->
            </section>
            <section class="inner-animme-top-mid-clip">
                <!-- Clip path -->
            </section>
           </section>
            <br>
            <section class="article-home">
                <article>
                    <h3>The Anime Home <br> 
                        for you</h3>
                        <br> 
                    <button class="explore">Explore</button>
                </article>
            </section>
            
            <section class="inner-anime-down-mid">
                <section class="inner-anime-down-mid-clippy">
                    <!-- Clippath -->
                </section>
                <section class="inner-anime-down-mid-poster">
                    <!-- Bleach One Piece -->
                </section>
            </section>
        </div>


        <div class="anime-home-right">
            <section class="inner-anime-top-right">
                <section class="inner-anime-top-right-clip">
                    <!-- Clippath  -->
                </section>
                <section class="inner-anime-down-right-poster">
                    <!-- Bg One  Piece gifs Zoro & Sanji -->
                </section>
            </section>
            
            <section class="inner-anime-down-right" style="display: block; float: right;" >
                <!-- Bg Gifs ITachi with Sharingan -->
            </section>

        </div>

    </div>
    <!----------------------------- Anime Home Nest Ends --------------------->
   </body>
   </html>
