<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Hero Container</title>

    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    
    <!-- Main Hero Container Starts -->
   <main>
       <div class="main-container">
           <div class="main-container-left">left</div>




           <div class="main-container-mid1">
            <div class="main-container-mid1-inner">
                    <section class="figure">
                         <!-- <figure> <img src="/anime posters/black-clover.jpg" alt style="width:100%"></figure>   -->
                    </section>
                    <section class="figure">
                   </section>
                  
                   <section class="figure">
               </section>
              
               <section class="figure">
           </section>
          
           <section class="figure">
       </section>
      
       <section class="figure">
   </section>
   <section class="figure">
   </section>
   
   <section class="figure">
    </section>

                   
               

        
                 </div>





            <div class="main-container-mid1-inner-description">
    
                <section class="description">disec  </section>
                <section class="description">disec      </section>
                <section class="description">disec      </section>
                <section class="description">disec      </section>
                <section class="description">disec      </section>
                <section class="description">disec      </section>
                <section class="description">disec      </section>
                <section class="description">disec      </section>
                <!-- <section class="inner-description">
                <ul style="display: inline-block">
                    <li> <a href="" style="background-color: #ff0000; display: inline-block">Rate</a></li>
                    <li><a href="" style="background-color: #ff0000; display: inline-block">Wiki</a></li>
                  </ul>
                  <h2 style="font-family: serif;">The Promise Neverland</h2>
                  <p class="description" style="font-family: Dosis">
                    The Promised Neverland is a Japanese manga series written by Kaiu Shirai and illustrated by Posuka Demizu. It was serialized in Shueisha's Weekly Shōnen Jump from August 2016 to June 2020, with its chapters collected in twenty tankōbon volumes.
                   <br> <br> Watch Episodes of Promise Neverland <br>
                   Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, doloribus! Est asperiores error corporis maiores.
                   Author: Kaiu Shirai
                   English publisher: NA Viz Media
                   English network: US Adult Swim (Toonami)SEA Aniplus Asia
                   Genres: Dark fantasy, Science fiction, Thriller
                   Episodes: 23 (List of episodes‎)‎
                    <a href="">Episode 1</a> 
                  </p>
                  <a href="https://www.facebook.com/" target="_blank"><button class="read-more"> Read More</button></a>
                </section> -->
            </div>
      



           <div class="main-container-mid2">
     this is single row
           </div>



           <div class="main-container-right">right</div>
       </div>
   </main>
    <!-- Main Hero Container ENds -->
</body>
</html>